<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings />
      <client>
        <endpoint name="ContractorService" address="http://localhost:2222/ContractorService" binding="basicHttpBinding"
                  contract="Fixus.Service.Contract.IContractorService"/>
        <endpoint name="FixusService" address="http://localhost:2222/FixusService" binding="basicHttpBinding"
                  contract="Fixus.Service.Contract.IFixusService"/>
      </client>
    </system.serviceModel>
</configuration>